/* FONTS */

$font-logo: 'Shrikhand', sans-serif;
$font-text: 'Scope One', sans-serif;
$font-large: 4.5rem;
$font-medium: 3rem;
$font-small: 1.5rem;

/* COLOURS */

$white: #FFF;
$primary: #4caf50;
$lightPrimary: #f1f8e9;
$mediumPrimary: #c8e6c9;
$secondary: #ffc107;
$darkSecondary: #FFA000;
$black: #212121;
$grey: #424242;
$lightGrey: #bdbdbd;
$darkGrey: rgba(33,33,33,0.25);

/* ANIMATIONS */

$opacityHover: 0.8;